<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>


  <!-- compiled css output -->
  <link href="css/ionic.app.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic-multi-date-picker/dist/ionic-multi-date-picker.bundle.min.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>

</head>
<body ng-app="starter">

<ion-pane>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Ionic Multi Date Picker</h1>
  </ion-header-bar>
  <ion-content ng-controller="mainCtrl">


    <div class="padding-horizontal"><ionic-multi-date-picker input-obj="datepickerObject">
      <button class="button button-block button-energized">
        {{selectedDates.length}} date(s) / {{ datepickerObject.       templateType }}
      </button>
    </ionic-multi-date-picker></div>

    <div class="list">

      <div class="item item-divider">
        Selected dates ({{ selectedDates.length }}):
      </div>
      <div class="item" ng-repeat="d in selectedDates">
        {{ d.getDate() }}.{{ d.getMonth() + 1 }}.{{ d.getFullYear() }}
      </div>

      <div class="item item-divider">
        Disabled dates ({{ datepickerObject.disabledDates.length }}):
      </div>
      <div class="item" ng-repeat="d in datepickerObject.disabledDates">
        {{ d.getDate() }}.{{ d.getMonth() + 1 }}.{{ d.getFullYear() }}
      </div>

      <div class="item item-divider">
        Holidays ({{ datepickerObject.holidays.length }}):
      </div>
      <div class="item" ng-repeat="d in datepickerObject.holidays">
        {{ d.getDate() }}.{{ d.getMonth() + 1 }}.{{ d.getFullYear() }}
      </div>

    </div>

  </ion-content>
</ion-pane>
</body>
</html>
